@import url('https://fonts.cdnfonts.com/css/tesla-2');
@import url('https://fonts.cdnfonts.com/css/nevis');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fontLogo: 'TESLA', sans-serif;
    --fontTitulosParrafos: 'nevis', sans-serif;
    --filter: 16px;
}

.backgroundVideo {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.backgroundVideo video {
    /* position: absolute;

    z-index: -1; */
    width: 100%;
    height: auto;

}

/* HEADER */

header {
    /* background-color: rgba(0, 0, 0, 0.89); */
    padding: .8rem 2.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

header .logo {
    font-family: var(--fontLogo);
    font-size: .940rem;
    letter-spacing: 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.89);
    /* z-index: 900; */
}


/* NAV */

header nav ul {
    display: flex;
}



header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-family: var(--fontTitulosParrafos);
    font-size: .820rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.89);
    /* padding-left: 16px;
    padding-right: 16px; */
    padding: 4px 16px;
}

header nav ul li a:hover {
    /* background-color: rgba(128, 128, 128, 0.329); */
    backdrop-filter: blur(var(--filter));
    -webkit-backdrop-filter: blur(var(--filter));
    border-radius: 4px;

}

header nav ul .conteinerI {
    display: none;
}

header .conteinerI {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

header .conteinerI i {
    color: rgba(255, 255, 255, 0.89);
    cursor: pointer;
}

header .hamburger {
    display: none;
}


header nav ul li a .bi-chevron-compact-right {
    display: none;
}

/* MAIN */

main {
    padding: .8rem 2.4rem;
    position: absolute;
    margin: 2.8rem 0;
    top: 0;
    width: 100%;
    height: 100%;
}

main .titles {
    text-align: center;
    font-family: var(--fontTitulosParrafos);
    color: rgba(255, 255, 255, 0.89);
    font-size: 2.2rem;
}

main .p {
    text-align: center;
    font-family: var(--fontTitulosParrafos);
    color: rgba(255, 255, 255, 0.89);
    font-weight: 400;
}

main .pS {
    text-align: center;
    font-family: var(--fontTitulosParrafos);
    color: rgba(255, 255, 255, 0.89);
    margin-top: .4rem;
    font-size: .6rem;
}



main .conteinerBtns {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    height: 70%;
}

main .conteinerBtns a {
    text-decoration: none;
    font-family: var(--fontTitulosParrafos);
    padding: .5rem 2rem;
    width: 13.6rem;
    text-align: center;
    border-radius: 4px;
}

main .conteinerBtns .btnShop {
    background-color: #E1DAD9;
    color: rgb(22, 19, 14);
    font-weight: 200;
    font-size: .8rem;
}

main .conteinerBtns .btnDrive {
    color: rgba(255, 255, 255, 0.89);
    backdrop-filter: blur(var(--filter));
    -webkit-backdrop-filter: blur(var(--filter));
    font-size: .8rem;
}












/* SECTION TWO */

.backgroundTwoSection {
    background-image: url(https://digitalassets-secure.tesla.com/image/upload/f_auto,q_auto/xufyfcvqhmq36szytod7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 100vh;
    z-index: 16;
    display: flex;
    justify-content: center;

}

.backgroundTwoSection .conteinerBlack {
    padding: 1rem 1rem;
    width: 100%;
    background-color: #171a2034;
}

.backgroundTwoSection .conteinerBlack .titles {
    text-align: center;
    font-family: var(--fontTitulosParrafos);
    color: #171A20;
    font-size: 2.2rem;
}

.backgroundTwoSection .conteinerBlack .p {
    text-align: center;
    font-family: var(--fontTitulosParrafos);
    color: #171A20;
    font-weight: 400;
}

.backgroundTwoSection .conteinerBlack .conteinerBtns {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    height: 70%;
}

.backgroundTwoSection .conteinerBlack .conteinerBtns a {
    text-decoration: none;
    font-family: var(--fontTitulosParrafos);
    padding: .5rem 2rem;
    width: 13.6rem;
    text-align: center;
    border-radius: 4px;
}

.backgroundTwoSection .conteinerBlack .conteinerBtns .btnShop {
    background-color: #E1DAD9;
    color: rgb(22, 19, 14);
    font-weight: 200;
    font-size: .8rem;
}

.backgroundTwoSection .conteinerBlack .conteinerBtns .btnDrive {
    color: rgba(255, 255, 255, 0.89);
    backdrop-filter: blur(var(--filter));
    -webkit-backdrop-filter: blur(var(--filter));
    font-size: .8rem;
}


/* SECTION THREE */

.backgroundThreeSection {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 100vh;
    z-index: 16;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
}

.backgroundThreeSection .conteinerBlack .titles {
    text-align: center;
    font-family: var(--fontTitulosParrafos);
    color: #171A20;
    font-size: 2.2rem;
    margin-top: 2rem;
}

.backgroundThreeSection .conteinerBlack .p {
    text-align: center;
    font-family: var(--fontTitulosParrafos);
    color: #171A20;
    font-weight: 400;
}

.backgroundThreeSection .conteinerBlack .conteinerBtns {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    height: 70%;
}

.backgroundThreeSection .conteinerBlack .conteinerBtns a {
    text-decoration: none;
    font-family: var(--fontTitulosParrafos);
    padding: .5rem 2rem;
    width: 13.6rem;
    text-align: center;
    border-radius: 4px;
}

.backgroundThreeSection .conteinerBlack .conteinerBtns .btnShop {
    background-color: #E1DAD9;
    color: rgb(22, 19, 14);
    font-weight: 200;
    font-size: .8rem;
}

.backgroundThreeSection .conteinerBlack .conteinerBtns .btnDrive {
    color: rgba(255, 255, 255, 0.89);
    backdrop-filter: blur(var(--filter));
    -webkit-backdrop-filter: blur(var(--filter));
    font-size: .8rem;
}

.backgroundThreeSection .pS {
    text-align: center;
    font-family: var(--fontTitulosParrafos);
    color: #171A20(255, 255, 255, 0.89);
    margin-top: .4rem;
    font-size: .6rem;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {


    .backgroundVideo video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    header {
        padding: .6rem 1rem;
        display: flex;
        justify-content: space-between;
        z-index: 1010;
    }

    header .logo {
        margin-top: 2px;
        z-index: 12;
    }

    header nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /* background-color: blue; */
        display: none;
    }

    header nav.active {
        display: block;

        background-color: black;
        z-index: 10;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 3rem;
        gap: .4rem;
    }

    header .conteinerI {
        display: none;
    }

    header nav ul .conteinerI.active {
        display: flex;
        flex-direction: column;
        padding: .6rem 1rem;
        margin-top: 1rem;
    }

    header nav ul .conteinerI.active .flex {
        display: flex;
        gap: 1rem;

    }

    header nav ul .conteinerI.active .flex a {
        color: rgba(255, 255, 255, 0.89);
        text-decoration: none;
        font-size: .9rem;
        font-family: var(--fontTitulosParrafos);
    }

    header .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.329);
        gap: 2px;
        width: 22px;
        height: 20px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 100;
        transition: all 0.4s;
    }

    header .hamburger div {
        width: 16px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.89);
        transition: all 0.4s;
    }

    .hamburger.active div:first-of-type {
        transform: rotate(45deg) translate(3px, 2px);
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:last-of-type {
        transform: rotate(-45deg) translate(3px, -3px);
    }

    header nav ul li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul li a:hover {
        background-color: rgba(128, 128, 128, 0.329);
    }

    header nav ul li a .bi-chevron-compact-right {
        display: flex;
    }



    /* MAIN */

    main {
        padding: .8rem 1rem;
        position: relative;

    }

    main .conteinerBtns,
    .backgroundTwoSection .conteinerBlack .conteinerBtns,
    .backgroundThreeSection .conteinerBlack .conteinerBtns {
        align-content: end;
        flex-wrap: wrap;
    }

    main .conteinerBtns a,
    .backgroundTwoSection .conteinerBlack .conteinerBtns a,
    .backgroundThreeSection .conteinerBlack .conteinerBtns a {
        width: 100%;
        padding: .6rem 1rem;
    }

}